{% extends 'base.html.twig' %}

{% block title %}Edit Pokemon{% endblock %}

{% block body %}
    <h1>Edit Pokemon</h1>

    {{ include('pokemon/_form.html.twig', {'button_label': 'Update'}) }}
    
    <p>
    {{ include('pokemon/_delete_form.html.twig') }}
    </p>
    
    <a href="{{ path('team_index') }}"><button style="background-color: green;color: white;">back to list</button></a> &nbsp; &nbsp; 
{% endblock %}
