{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Team_id</th>
                <th>Name</th>
                <th>Base_exp_value</th>
                <th>Image_path</th>
                <th>Created_at</th>
                <th>Ability</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.teamId }}</td>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.baseExpValue }}</td>
                
                <td><img src="{{ asset('{{ pokemon.image_path }}')}}" alt=""/></td>
                <td>{{ pokemon.createdAt ? pokemon.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pokemon.ability }}</td>
                <td>{{ pokemon.type }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}">show</a>
                    <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pokemon_new') }}">Create new</a>
{% endblock %}
