{% extends 'base.html.twig' %}

{% block title %}New Pokemon{% endblock %}

{% block body %}
    <h1>Create new Pokemon</h1>
<p>
    <button onclick="getPkm()">Gotta Catch 'Em All</button>
</p>
    {{ include('pokemon/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript"> var rnd = {{rnd}};  

	{# Docker compose deletes js files in public/bundle/ folder#}
	{# Workaround for Docker compose #}
	function getPkm(){

            $.get( "https://pokeapi.co/api/v2/pokemon/"+rnd )
            .done(function( data ) {
                var abilities;
                var types;
                
                abilities = abilityToString(data.abilities);
                types = typeToString(data.types);
                setValue("create_pokemon_name",data.name);
                setValue("create_pokemon_base_exp_value",data.base_experience);
                setValue("create_pokemon_image_path",rnd+'.png');
                setValue("create_pokemon_ability",abilities);
                setValue("create_pokemon_type",types);
            });
        }

	function setValue(id,value){
            $("#"+id).val(value);
        }
        
        function abilityToString(data){
            var r = '';
            for(var i=0;i<data.length;i++){
                r += data[i].ability.name+' - ';
            }
            return r;
        }
        
        function typeToString(data){
            var r = '';
            for(var i=0;i<data.length;i++){
                r += data[i].type.name+' - ';
            }
            return r;
        }
</script>
{% endblock %}
