{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Team_id</th>
                <td>{{ pokemon.teamId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pokemon.name }}</td>
            </tr>
            <tr>
                <th>Base_exp_value</th>
                <td>{{ pokemon.baseExpValue }}</td>
            </tr>
            <tr>
                <th>Image_path</th>
                <td>{{ pokemon.imagePath }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ pokemon.createdAt ? pokemon.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ability</th>
                <td>{{ pokemon.ability }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ pokemon.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pokemon_index') }}">back to list</a>

    <a href="{{ path('pokemon_edit', {'id': pokemon.id}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
