<form method="post" action="{{ path('team_delete', {'id': team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this team and all pokemons related to this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btn" style="background-color: red;color: white;">Delete</button>
</form>
