{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
    <h1>Edit Team</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}
    <p>
    <a href="{{ path('pokemon_new', {name: team.name}) }}"><button style="background-color: blue;color: white;">Add a new pokemon</button></a>

    {{ include('team/_delete_form.html.twig') }}
    </p>
    <a href="{{ path('team_index') }}"><button style="background-color: green;color: white;">back to list</button></a> &nbsp; &nbsp; 
    
{% endblock %}
