{% extends 'base.html.twig' %}

{% block title %}Team List{% endblock %}

{% block body %}
    <h1>Team List</h1>
    <div>
    {{ form(form) }}
    <a href="{{ path('team_index') }}" type="button"><button style="background-color: green;color: white;margin-left: 90px;position: relative;	top: -25px;">Clear</button></a>
    </div>

    <table border="1">
        <thead>
            <tr style="font-weight: bold">
                <th>Team Name</th>
                <th>Tot. Exp. Team </th>
                <th>Pokemon Image</th>
                <th>Pokemon Name</th>
                <th>Pokemon Ability</th>
                <th>Pokemon Type</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                
                <td>{{team.name }}</td>
                <td>{{team.exp_value}}</td> 
                <td><img src="/images/{{ team.image_path }}" alt=""/></td>
                <td>{{team.pk_name}}</td> 
                <td>{{team.ability}}</td> 
                <td>{{team.type}}</td> 
                <td>
                    <a href="{{ path('team_edit', {'id': team.team_id}) }}"><button>edit team</button></a>
                </td>
                <td>
                    <a href="{{ path('pokemon_edit', {'id': team.pkm_id}) }}"><button>edit pokemon</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('team_new') }}" type="button"><button style="background-color: blue;color: white;">Create a new team</button></a>
    </p>
{% endblock %}
