{% extends 'base.html.twig' %}

{% block title %}Team List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="">
    <table>
            <tr style="font-weight: bold">
                <td>Team Name</td>
                <td>Tot. Exp. Team </td>
                <td>Pokemon Image</td>
                <td>Pokemon Name</td>
                <td>Pokemon Ability</td>
                <td>Pokemon Type</td>
            </tr>
    {% for team in teams %}
            <tr>    
                <td><a href="{{ path('team_edit', {slug: team.team_id}) }}">{{team.name }}</a></td>
                <td>{{team.exp_value}}</td> 
                {# the image lives at "public/images/" #}
                <td><img src="{{ asset({{team.image_path}})}}" alt=""/></td>
                <td>{{team.pk_name}}</td> 
                <td>{{team.ability}}</td> 
                <td>{{team.type}}</td> 
   {% endfor %}
               </tr></table>
</div>
<p>
    <a href="{{ path('team_create') }}" type="button"><button>Create a new team</button></a>
</p>
{% endblock %}