{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1>Create new Team</h1>
    <p>
    {{ include('team/_form.html.twig') }}
    </p>
 <a href="{{ path('team_index') }}"><button style="background-color: green;color: white;">back to list</button></a> &nbsp; &nbsp;
{% endblock %}
