<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {# the JS file lives at "public/bundles/js/jquery/" #}
	{# Docker compose deletes them #}
        {#<script src="{{ asset('/bundles/js/jquery/jquery-3.5.0.min.js') }}"></script>#}
        {#<script src="{{ asset('/bundles/js/site/common.js') }}"></script>#}
	{#<script src="{{ asset('/bundles/js/site/pokemon.js') }}"></script>#}

	{# Workaround for Docker compose #}
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>

